{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photova</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body>
  <!-- <div id="vue-index">   -->
  <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a class="logo-header" href="{% url 'home:index'%}">PHOTOVA</a>
              
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                  <a class="" href="{% url 'home:index'%}">Home</a>
                </li>
                <li>
                  <a class="" href="{% url 'gallery:gallery' %}">View Gallery</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a class="" href="{% url 'gallery:new' %}">Add Image</a>
                </li>
                <li>
                  <a class="waves-effect waves-light btn" href="{% url 'logout' %}">logout</a>
                </li>
                {% else %}
                <li>
                  <a class="waves-effect waves-light btn" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
          </div>     
    </nav>
  </div>
            {% block content %}
            {% endblock content %}

      <footer>
        <div class="container">
          <div class="footer-grid">
            <section class="footer-grid-section-1">
              <h1>Where is section1?</h1>
              <ul>
                <li><a>Link1</a></li>
                <li><a>Link2</a></li>
                <li><a>Link3</a></li>
              </ul>
            </section>

            <section class="footer-grid-section-2"> 
            <h1>Section2</h1>

              <ul>
                <li><a>Link1</a></li>
                <li><a>Link2</a></li>
                <li><a>Link3</a></li>
              </ul>
            </section>

            <section class="footer-grid-section-3">
            <h1>Section3</h1>

              <ul>
                <li><a>Link1</a></li>
                <li><a>Link2</a></li>
                <li><a>Link3</a></li>
              </ul>
            </section>
          </div>
        
        </div>
      </footer>
<!-- </div> -->

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/vue"></script> {% endcomment %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script> -->
    {% comment %} <script>
        new Vue({
            el:'#vue-index',
            delimiters: ['[[',']]'],
            data: {
                // add the |safe can be dangerous, but will make the django
                // template syntax work here.
            },
            methods: {

            },
            mounted: function () {
              // this is a a function that is run as soon as Vue app is loaded.
            // could be an AJAX call to get data from our grocerylist app
              console.log("whatever")
            }
        });

    </script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
      });
    </script>
    {% block js %}
    {% endblock %}
  </body>
</html>