{% extends 'base.html' %} 
{% load comments %}
{% load static %}
{% block content %}

<div class="container">
        <a class="arrow-back" href="{% url 'blog:index'%}"><i class="material-icons" style="position:relative;top:6px;">arrow_back</i>Blog</a>

      <div class="row" style="margin-top:12px;">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed"src="{{ MEDIA_URL }}{{ blogpost.thumbnail_image.photo }}">
          <a  href="#blog-content" class="card-title"><i class="material-icons" style="font-size: 2em;" style="position:relative;top:6px;">arrow_downward</i> </a>
        </div>
        <div id="blog-content" class="card-content blogpost-p">
        <h1 >{{ blogpost.title }}</h1>
          <p  class="">{{ blogpost.body | linebreaks }}</p>
            
            <div class="blogpost-images">
               {% for image in blogpost.images.all %}
               <img class="collection-detail-image materialboxed" src="{{ MEDIA_URL }}{{ image.photo }}" alt="">
                {% endfor %}
            </div>
         
        </div>
        <div style="padding-bottom:6px;" class="">
          <p style="color:#ccc;" class="" href="#">Author: {{ blogpost.author }}</p>
          <p style="color:#ccc;" class="" href="#">Published: {{ blogpost.created }}</p>

        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_superuser %}
    <a class="waves-effect waves-light btn right deep-orange darken-4" href="{% url 'blog:blog_delete' blogpost.id %}">Delete Post</a>
    <a class="waves-effect waves-light btn right" href="{% url 'blog:blog_update' blogpost.id %}">Edit Post</a>
  {% endif %}


    <h1>Comments</h1>
      {% get_comment_count for blogpost as comment_count %}
      <p> {{ comment_count }} comment{{ comment_count|pluralize }}</p>

  {% get_comment_list for blogpost as comment_list %}
  {% for comment in comment_list reversed %}
  <div class="comment-list z-depth-1">
      <p style='color:#cccccc'>Posted By: {{ comment.user_name }} on {{ comment.submit_date }}</p>
      <p> {{ comment.comment }}</p>
  </div>
  {% endfor %}

{% if user.is_authenticated %}
  <div class="comment-list z-depth-1">  
    <h1>Write a Comment</h1>

    {% get_comment_form for blogpost as form %}
    <form action="{% comment_form_target %}" method="post">
      {% csrf_token %}
      {% for field in form %}

        {% if field.name == 'name' or field.name == 'comment' or field.name == 'honeypot' %}
        <p>{{ field.label }} {{ field }}</p> 
        {% else %}
          {% if field.name != 'email' and field.name != 'url' %}
          {{field}}
          {% endif %}
        {% endif %}


        {% endfor %}
        <input type="hidden" name="email" value='nobody@nobody.com'>
        <input type="hidden" name='url' value='http://photovaportfolio.com'>
        <input type="hidden" name="next" value="{{ request.path }}">
        <input class="waves-effect waves-light btn" type="submit" name="submit" value="Comment">

    </form>
  </div>
  {% else %}
  <p>You must <a href="{% url 'login' %}">login</a> to leave a comment</p>
{% endif %}
</div>

{% endblock content %}

{% block js %}
    <script src="{% static '/scripts/materialbox.js' %}"></script>
    <script src="{% static '/scripts/collectionDetail.js' %}"></script>
    <script src="{% static '/scripts/arrowAnimationVertical.js' %}"></script>
    <script src="{% static '/scripts/arrowAnimationBack.js' %}"></script>

{% endblock %}