{% extends 'base.html' %} 
{% load static %}

{% block content %}

<main class="container">
    
        <div class="row blog-post-div">
    {% for post in object_list %}
        <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
            <img src="{{ MEDIA_URL }}{{ post.thumbnail_image.photo }}">
            <span class="card-title">{{ post.title }}</span>
            <a href="{% url 'blog:blog_detail' post.id %}" class="btn-floating halfway-fab waves-effect waves-light teal"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
            <p>{{ post.body | slice:"250" }} ...
            
                <br style="margin-top:6px;">
                    <a class="collection-title-animation" href="{% url 'blog:blog_detail' post.id %}">Read More <i class="forward-arrows material-icons" style="position:relative;top:6px;">arrow_forward</i></a>
                <br><span style="color:#cccccc;position:relative;top:6px;">Published: {{ post.created }}<span>
            </p>
                </div>
            </div>
            </div>
  {% endfor %}
        </div>

{% if request.user.is_superuser %}
        <a class="" href="{% url 'blog:blog_create' %}"><button class="waves-effect waves-light btn">Add Post</button></a>

{% endif %}
</main>

{% endblock %}

{% block js %}

    <script src="{% static '/scripts/arrowAnimationBlog.js' %}"></script>

{% endblock %}