{% extends 'base.html' %} 

{% block content %}

<div class="container">
        <h1>{{ collection }}</h1>
            <p>{{ collection.description }}</p>


    <div class="collection-detail-div">
            {% for image in collection.images.all %}
                <p>{{ image }} </p>
                  <div class="image-thumbnail" style="background-image:url('{{ MEDIA_URL }}{{ image.photo}}')"></div>
                
            {% endfor %}
    </div>
        {% if user.is_authenticated %}
                <a class="waves-effect waves-light btn" href="{% url 'gallery:collection_update' collection.id %}">Update Collection</a>
                <a class="waves-effect waves-light btn deep-orange darken-4" href="{% url 'gallery:collection_delete' collection.id %}">Delete Collection</a>
        {% endif %}
</div >
{% endblock content %}