{% extends 'base.html' %} 

{% block content %}
    <div class= "container">
    <h1>New Collection</h1>
    <form action="" method="post">
        
        {% csrf_token %}
        
        <p>
            <label for="">Title</label>
            {{ form.title }}
        </p>

        <p>
            <label for="">Description</label>

            {{ form.description }}
        </p>
         <p>
            <label for="">Add Images</label>
            {{ form.images }}
        </p>

         <p>
            <label>
            {{ form.showcase_gallery }}
            <span>Showcase Gallery?</span>
            </label>
        </p>

        <input class="right waves-effect waves-light btn" type="submit" value="Create">
        <br class="clear-fix">
    </form>
    
    </div>
{% endblock content %}