{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="fixed-bg">
    <div class="container">

        <h1>Collections</h1>
        
        {% for collection in collection_list %}
            
            <section class="gallery-section">
            <a href="{% url 'gallery:collection_detail' collection.id %}"><h3 class="collection-title">{{ collection.title | upper }} <i class="material-icons" style="position:relative;top:6px;">arrow_forward</i></h3></a>
                <div class="carousel">
                    {% for image in collection.images.all %}

                        <a class="carousel-item" href="{% url 'gallery:image_detail' image.id%}">
                            <div class="image-thumbnail" style="background-image:url('{{ MEDIA_URL }}{{ image.photo}}')"></div>
                        </a>
                        
                    {% endfor %}
                </div>
            
            </section>
        {% endfor %}
        {% if request.user.is_superuser %}
        <a class="" href="{% url 'gallery:collection_create' %}"><button class="waves-effect waves-light btn">Create Collection</button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content%}
{% block js%}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems);
    });
    </script>
{% endblock %}