{% extends 'base.html' %} 
{% load static %}

{% block content %}

 <div class="parallax-container">
      <div class="parallax"><img src="{% static 'images/hero-abstract.jpeg' %}"></div>
    </div>

<main >
    <div class="hero-logo">
        <img src="{% static 'images/logo.png' %}" alt="photova logo">
    </div>
<section class="index-grid">
    <div class="index-grid-1-1">
        <div class="container">
            <h1>About</h1>
            <p class="border-left-p p-large">Photova is an interactive, dynamic, photography portfolio. It gives professional photographers a platform to display and share their work in an elegantly simple way. 
            </p>
        </div>
    </div>
    
    <div class="index-grid-1-2">
        <div class=" hide-on-med-and-down">
           <div class="index-grid-img" style="background-image: url('{% static 'images/abstract-bg-2.png' %}')"></div>
        </div>
    </div>
     <div class="index-grid-2-1">
        <div class="">
           <div class="index-grid-img" style="background-image: url('{% static 'images/abstract-bg-1.png' %}')"></div>
        </div>
    </div>

     <div class="index-grid-2-2">
        <div class="container">
            <h1>How it works</h1>
            <p class="border-left-p p-large">The photographer and admin can upload photos and organize the gallery by different collections. These can then be assigned to specific users in order to share private galleries accessible by the end user under "My Collections".
            
            </p>
        </div>

    </div>
</section>
</main>
    



{% endblock content%}
{% block js%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });

</script>
{% endblock %}