/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
deep-orange darken-4
*/

:root {
    --primary-color: #27a59a; /* bright green */
    --secondary-color: #27a59a; /* blue */
    --tertiary-color: #27a59a; /* lighter blue */
    --font-color: #27a59a; /* light green */
    --font-secondary: #cccccc; /* light grey */
    --hover-color: #262626; /* darkish grey*/

    --bg-color: #292929; /* Dark gray */
    --bg-color-2: #303030;
    --heading-color: #FFFFFF; /* white */
  }
  
[data-theme="light"] {
    --primary-color: #27a59a;
    --secondary-color: #27a59a;
    --font-color: #27a59a; /* light green */
    --font-secondary: #cccccc; /* light grey */
    --hover-color: #E5E5E5; /* light grey*/
    --bg-color: #fff;
    --bg-color-2: #fff;
    --heading-color: #00131A;
}


/********* Dark Light Toggle ***********/
#theme-switch-section {
    position: fixed;
    z-index:3;
    top:90%;
    left:75%;
}
@media only screen and (min-width:500px){
    #theme-switch-section {
        left:85%;
    }
}
@media only screen and (min-width:1000px){
    #theme-switch-section {
        left:90%;
    }
}
.theme-switch {
    display: inline-block;
    height:34px;
    position:relative;
    top:10px;
    width:60px;
  }
  
  .theme-switch input {
    display:none;
  }

  #theme-text {
      color:var(--heading-color);
  }
  .my-slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0 ;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  .my-slider:before {
    background-color: #fff;
    bottom: 4 px;
    content: "";
    height: 26px;
    left:4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .my-slider {
    background-color: #000;
  }
  
  input:checked + .my-slider:before {
    transform: translateX(26px);
  }
  
  .my-slider.round {
    border-radius:34px;
  }
  .my-slider.round:before {
    border-radius:50%;
    margin-top:7%;
  }
  .mobile-toggle {
      margin-left:24px;
  }
/********* End Dark Light Toggle ***********/

  
html {
    background-color: var(--bg-color);
}
body {
    padding-bottom:20px;
    height:100vh;
}

.brand-logo {
    font-weight: 100;
    margin-left:36px;
    position:relative;
    top: -10px;
    /* align-items: center; */
}
/* .brand-logo img {
    margin-top:10px;
    margin-right:10px;
} */
h1 {
    color:var(--heading-color);
    font-size:2em;
    font-weight: 100;
}

h2 {
    color:var(--tertiary-color);
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
}
h4 {
    color:var(--heading-color);
    font-weight: 100;
}
a {
    text-decoration: none;
    color:var(--heading-color);
}
a:hover {
    color: var(--primary-color);
}

@-webkit-keyframes slidearrow { from { left: 0px} to { left: 24px; }  }
        @keyframes slidearrow { from { left: 0px} to { left: 24px; }  }

.arrow-animation {
    animation: slidearrow 0.75s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes arrowback { from { left: 0px} to { left: -24px; }  }
        @keyframes arrowback { from { left: 0px} to { left: -24px; }  }

.arrow-animation-back {
    animation: arrowback 0.75s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes arrowvert { from { bottom: 0px} to { bottom: 24px; }  }
        @keyframes arrowvert { from { bottom: 0px} to { bottom: 24px; }  }

.arrow-animation-vertical {
    animation: arrowvert 0.75s ease-in-out 0s infinite alternate;
}
.arrow-back {
    font-size:1.4em;
    font-weight: 100;
    position:relative;
    top:12px;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-color);
    font-weight: 100;
    margin:12px;
}
.p-large {
    font-size:32px;
    line-height:1.10;
}
form {
    color:var(--heading-color);
}
.card {
    background-color:var(--bg-color);
}
.card-title {
    font-size: 200%;
}
.card-content {
    margin-top:24px;
}

input {
    color: var(--heading-color);
}

textarea {
    color: var(--heading-color);
    height:160px;
}

/* materialize class, used in mycollections template*/
@media only screen and (min-width:768px){
    .collection {
        width:50%;
    }
    .my-collections-div {
        display:flex;
        justify-content: center;
    }
}
.collapsible-header {
    background-color: var(--bg-color);
}
.collection-item {
    background-color:var(--bg-color) !important;
}
.collection-item span {
    color:var(--heading-color) ;
}

.clear-fix {
    /* content: "";
    display: table; */
    clear: both;
}
.collection-detail-div {
    margin-top:24px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-bottom: 18px;
}
.collection-detail-div p {
    margin-bottom:24px;
}

.collection-title {
    font-size:2em;
    color:var(--heading-color);
    font-weight: 100;
    border-left: 3px solid var(--heading-color);
    padding:24px 24px;
    transition: all .15s;
}
.collection-title:hover {
    color:var(--primary-color);
    border-left: 3px solid var(--primary-color);

}
.collection-title-animation {

}
.btn {
    margin:10px;
}
.image-detail-collection-list {
    margin:12px;
}
.image-thumbnail {
    height:500px;
    width:500px;
    background-size: 500px auto;
    background-repeat: no-repeat;
    /* display: inline; */
}
.collection-detail-image {
    height: 25vh;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:6px;
    margin-right:6px;
    width:auto;
    transition: transform 0.25s;
    overflow: visible;
    /* border: 3px solid var(--bg-color); */
    
}
.collection-detail-image:hover {
    overflow: visible;
    /* box-shadow: 0px 0px 40px #303030; */
    border: 3px solid transparent;
}
.img-detail {
    max-width: 100%;
    margin-bottom: 24px;
}
nav {
    background-color: var(--bg-color);
}
nav ul a {
    color:var(--heading-color);
}
.mobile-logo {
    height:10vh;
    
}
.mobile-nav {
    background-color: var(--bg-color);
}
.sidenav li>a {
    color:var(--heading-color);
}
.sidenav {
    color:var(--heading-color);
}
.sidenav-trigger {
    color:var(--heading-color);
}
.mobile-header {
    display:inline;
    color:var(--heading-color);
    font-weight: 100;
}
#slide-out {
    background-color: var(--bg-color);

}

.desktop-nav {
    display:none;
}

.nav-wrapper {
    background-color: var(--bg-color);
}
.nav-extended {
    background-color: var(--bg-color);
}

.navbar-link {
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-color);
}
.welcome-header {
    font-size:12px;
    font-weight:100;
    margin-left:20%;
    display: inline;
}
@media only screen and (max-width:1230px){
    .welcome-header {
        display: none;
    }
}
.parallax-container {
    height:100vh;
  }

.hero-logo img {
    top: -800px;
    width: auto;
}

  @-webkit-keyframes slideintop { from { top: -1600px} to { top: -800px }  }
        @keyframes slideintop { from { top: -1600px} to { top: -800px }  }
.hero-logo {
   display: flex;
   height: 0;
   justify-content: center;
}
.hero-logo img{
    width:auto;
    height:40vh;
    position: relative;
    animation: 3s slideintop 0s ease-in-out;

}
.border-left-p {
    border-left: 3px solid var(--heading-color);
    padding-left:18px;
    margin-top:18px;
}

footer {
    background-color:var(--bg-color);
    padding-bottom:24px;
    
}
#materialbox-overlay {
    background-color:var(--bg-color);
}

.container {
    margin-bottom:40px;
}
.comment-list {
    padding: 12px;
    margin: 12px;
}

.blog-post-div {
    margin-top:1.5em;
}
.blogpost-p {
    font-size:1.25em;
    line-height: 1.5;
}
.card-action-link {
    color:var(--font-color);
}
.blogpost-images {
    margin-top:24px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.admin-aside {
    position: sticky;
    /* display:inline; */
    float:left;
    margin-top:12px;

    width:33%;
}
.admin-aside-div {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: baseline;
    margin-left: 12px;
    height:60vh;
    /* border:1px solid red; */
}
.admin-container {
    /* margin-left:40%; */
    width:100%;
}

.index-grid-img {
    height:500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;

}
.index-grid-1-1 {
    padding-bottom: 30px;
}
@media only screen and (min-width:1000px){

    .mobile-nav {
        display:none;
    }

    .desktop-nav {
        display: inherit;
    }

    .index-grid {
        display:grid;
        grid-template-rows:500px 500px;
        grid-template-columns: 1fr 1fr ;
    }

    .hero-logo img {
        height:650px;
        top: -800px;
        width: auto;
    }

    .index-grid-1-1 {
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
        
    }

    .index-grid-1-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
    }
    .index-grid-2-1 {
        grid-row: 2span/ 1;
        grid-column: 1span/ 1;
    }
    .index-grid-2-2 {
        grid-row: 2span/ 1;
        grid-column: 2span/ 1;
    }

    .gallery-section {
        display:flex;
        align-items: center;
    
    }
    footer {
        bottom:0;
        width: 100%;
        margin-top:120px;
    }
    
    footer .container {
        display: flex;
        justify-content: space-around;
    }

    footer h1 {
        color: var(--font-secondary);
    }

    .footer-grid {
        display:grid;
        grid-template-rows: 10vh;
        grid-template-columns:1fr 1fr 1fr;
    }
    .footer-grid-section-1 {
        margin-right:50px;
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
    .footer-grid-section-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
    .footer-grid-section-3 {
        grid-row: 1span/ 1;
        grid-column: 3span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
}