/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
deep-orange darken-4
*/

:root {
    --primary-color: #27a59a; /* bright green */
    --secondary-color: #27a59a; /* blue */
    --tertiary-color: #27a59a; /* lighter blue */
    --font-color: #27a59a; /* light green */
    --bg-color: #292929; /* Dark gray */
    --bg-color-2: #303030;
    --heading-color: #FFFFFF; /* white */
  }
  
/* .v-toolbar__content {
    background-color:var(--bg-color);
} */
html {
    background-color: var(--bg-color);
}
body {
    padding-bottom:20px;
    height:100vh;
}

.brand-logo {
    font-weight: 100;
    margin-left:20px;
    display: flex;
    align-items: center;
}
.brand-logo img {
    margin-top:10px;
    margin-right:10px;
}
h1 {
    color:var(--heading-color);
    font-size:2em;
    font-weight: 400;
}

h2 {
    color:var(--tertiary-color);
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color:var(--font-color);
}
p {
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-color);
    font-weight: 100;
}
.p-large {
    font-size:24px;
}
form {
    color:var(--heading-color);
}
input {
    color: var(--heading-color);
}


textarea {
    color: var(--heading-color);
    height:160px;
}

.clear-fix {
    /* content: "";
    display: table; */
    clear: both;
}
.collection-detail-div {
    margin-top:24px;
}
.collection-detail-div p {
    margin-bottom:24px;
}
.gallery-section {
    display:flex;
    align-items: center;

}
.collection-title {
    font-size:2em
}
.btn {
    margin:10px;
}

.image-thumbnail {
    height:500px;
    width:500px;
    background-size: 500px auto;
    background-repeat: no-repeat;
    /* display: inline; */
}
.img-detail {
    max-width: 100%;
    margin-bottom: 24px;
}

.nav-wrapper {
    background-color: var(--bg-color);
}
.nav-extended {
    background-color: var(--bg-color);
}

.navbar-link {
    font-family: 'Montserrat', sans-serif;
}
.welcome-header {
    font-size:12px;
    font-weight:100;
    margin-left:20%;
    display: inline;
}
/* .hero-parallax {
    height:80vh;
  } */

.border-left-p {
    border-left: 3px solid #FFFFFF;
    padding-left:18px;
    margin-top:18px;
}

footer {
    background-color:var(--bg-color);
    padding-bottom:24px;
    

}

.fixed-bg {
    background-image: url("../images/abstract-dark-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -60px;
    padding-bottom: 100px;

}
.container {
    margin-top:60px;
}
/* 
.footer-grid {
} */

@media only screen and (min-width:960px){
    .index-grid {
        display:grid;
        grid-template-rows:500px 500px;
        grid-template-columns: 1fr 1fr ;
    }

    .index-grid-1-1 {
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
    }

    .index-grid-1-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
    }
    .index-grid-2-1 {
        grid-row: 2span/ 1;
        grid-column: 1span/ 1;
    }
    .index-grid-2-2 {
        grid-row: 2span/ 1;
        grid-column: 2span/ 1;
    }

    footer {
        bottom:0;
        width: 100%;
    }
   
    footer .container {
        display: flex;
        justify-content: space-around;
    }

    .footer-grid {
        display:grid;
        grid-template-rows: 10vh;
        grid-template-columns:1fr 1fr 1fr;
    }
    .footer-grid-section-1 {
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
    .footer-grid-section-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;

    }
    .footer-grid-section-3 {
        grid-row: 1span/ 1;
        grid-column: 3span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;

    }
}