/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
deep-orange darken-4
*/

:root {
    --primary-color: #27a59a; /* bright green */
    --secondary-color: #27a59a; /* blue */
    --tertiary-color: #27a59a; /* lighter blue */
    --font-color: #27a59a; /* light green */
    --font-secondary: #cccccc; /* light green */

    --bg-color: #292929; /* Dark gray */
    --bg-color-2: #303030;
    --heading-color: #FFFFFF; /* white */
  }
  
/* .v-toolbar__content {
    background-color:var(--bg-color);
} */
html {
    background-color: var(--bg-color);
}
body {
    padding-bottom:20px;
    height:100vh;
}

.brand-logo {
    font-weight: 100;
    margin-left:20px;
    display: flex;
    align-items: center;
}
.brand-logo img {
    margin-top:10px;
    margin-right:10px;
}
h1 {
    color:var(--heading-color);
    font-size:2em;
    font-weight: 400;
}

h2 {
    color:var(--tertiary-color);
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color:var(--font-color);
}
p {
    font-family: 'Montserrat', sans-serif;
    color: var(--heading-color);
    font-weight: 100;
}
.p-large {
    font-size:32px;
    line-height:1.10;
}
form {
    color:var(--heading-color);
}
input {
    color: var(--heading-color);
}


textarea {
    color: var(--heading-color);
    height:160px;
}

.clear-fix {
    /* content: "";
    display: table; */
    clear: both;
}
.collection-detail-div {
    margin-top:24px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-bottom: 20px;
}
.collection-detail-div p {
    margin-bottom:24px;
}

.collection-title {
    font-size:2em
}
.btn {
    margin:10px;
}

.image-thumbnail {
    height:500px;
    width:500px;
    background-size: 500px auto;
    background-repeat: no-repeat;
    /* display: inline; */
}
.collection-detail-image {
    height: 25vh;
    margin-top:10px;
    margin-bottom:10px;
    width:auto;
    transition: transform 0.25s;
    overflow: visible;
    
}
.collection-detail-image:hover {
    overflow: visible;
    box-shadow: 0px 0px 40px #303030;
}
.img-detail {
    max-width: 100%;
    margin-bottom: 24px;
}
nav {
    background-color: var(--bg-color);
}
.mobile-logo {
    height:10vh;
}
.mobile-nav {
    background-color: var(--bg-color);
}
.mobile-header {
    display:inline;
    color:var(--heading-color);
    font-weight: 100;
}
#slide-out {
    background-color: var(--bg-color);

}

.desktop-nav {
    display:none;
}

.nav-wrapper {
    background-color: var(--bg-color);
}
.nav-extended {
    background-color: var(--bg-color);
}

.navbar-link {
    font-family: 'Montserrat', sans-serif;
}
.welcome-header {
    font-size:12px;
    font-weight:100;
    margin-left:20%;
    display: inline;
}
.parallax-container {
    height:100vh;
  }
.hero-logo {
   display: flex;
   height: 0;
   justify-content: center;
   
}
.hero-logo img{
    width:auto;
    height:40vh;
    position: relative;
    top: -600px;
}
.border-left-p {
    border-left: 3px solid #FFFFFF;
    padding-left:18px;
    margin-top:18px;
}

footer {
    background-color:var(--bg-color);
    padding-bottom:24px;
    
}

.fixed-bg {
    background-image: url("../images/abstract-dark-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -60px;
    padding-bottom: 100px;

}
.container {
    margin-bottom:40px;
}

.index-grid-img {
    height:500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;

}
.index-grid-1-1 {
    padding-bottom: 30px;
}
@media only screen and (min-width:1000px){

    .mobile-nav {
        display:none;
    }

    .desktop-nav {
        display: inherit;
    }

    .index-grid {
        display:grid;
        grid-template-rows:500px 500px;
        grid-template-columns: 1fr 1fr ;
    }

    .hero-logo {
        
    }
    .hero-logo img {
        height:650px;
        width: auto;
        top: -800px;
    }

    .index-grid-1-1 {
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
        
    }

    .index-grid-1-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
    }
    .index-grid-2-1 {
        grid-row: 2span/ 1;
        grid-column: 1span/ 1;
    }
    .index-grid-2-2 {
        grid-row: 2span/ 1;
        grid-column: 2span/ 1;
    }

    .gallery-section {
        display:flex;
        align-items: center;
    
    }

    footer {
        bottom:0;
        width: 100%;
        margin-top:120px;
    }
    
    footer .container {
        display: flex;
        justify-content: space-around;
    }

    footer h1 {
        color: var(--font-secondary);
    }

    .footer-grid {
        display:grid;
        grid-template-rows: 10vh;
        grid-template-columns:1fr 1fr 1fr;
    }
    .footer-grid-section-1 {
        margin-right:50px;
        grid-row: 1span/ 1;
        grid-column: 1span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;
    }
    .footer-grid-section-2 {
        grid-row: 1span/ 1;
        grid-column: 2span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;

    }
    .footer-grid-section-3 {
        grid-row: 1span/ 1;
        grid-column: 3span/ 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-items: center;

    }
}